<ion-header>
  <ion-toolbar>
    <ion-title>Profile</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>Register or Login</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-input
          (ionInput)="onInput($event)"
          placeholder="Enter your username"
        ></ion-input>
      </ion-item>
      <ion-button expand="block" (click)="register()" [disabled]="!username.trim()">
        Register
      </ion-button>
      <ion-button href="pages/home" expand="block" (click)="login()" [disabled]="!username.trim()">
        Login
      </ion-button>
      <ion-item>
        <ion-label>Profile Picture</ion-label>
        <ion-button (click)="takePicture()">Take Picture</ion-button>
      </ion-item>
      <ion-img *ngIf="profilePicture" [src]="profilePicture"></ion-img>
    </ion-card-content>
  </ion-card>
</ion-content>
