<ion-content>
  <ion-list>
    <ion-item-group>
      <ion-item-divider>
        <ion-label>Games</ion-label>
        <app-menu></app-menu>
      </ion-item-divider>

      <!-- Iterate Over Games -->
      <ion-item-sliding *ngFor="let game of games">
        <ion-item [button]="true" (click)="addToInterested(game)">
          <ion-thumbnail slot="start">
            <img [src]="game.image_url" />
          </ion-thumbnail>
          <ion-label>
            <h2>{{ game.title }}</h2>
            <p>Release Date: {{ game.release_date }}</p>
            <p>Price: {{ game.price }}</p>
          </ion-label>
          <ion-badge slot="end" color="success">Available</ion-badge>
        </ion-item>
        <ion-item-options slot="end">
          <ion-item-option color="danger" (click)="updateGameStatus(game.id, 'not_interested')">
            <ion-icon slot="icon-only" name="trash"></ion-icon>
          </ion-item-option>
          <ion-item-option color="secondary" (click)="updateGameStatus(game.id, 'played')">
            <ion-icon slot="icon-only" name="checkmark"></ion-icon>
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
    </ion-item-group>
  </ion-list>
</ion-content>
